<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
      <img src="https://raw.githubusercontent.com/FMC-Weekend/fmcw-frontend/main/src/components/fmcfooter1.png" width="50%" style="border-radius: 25%" >
       
        <form action="/" method="POST">
            <div class="form-group">
                <label for="username"><i class="fa-solid fa-user"></i> UserName</label>
                <input type="email" class="form-control" id="username" name="username">
              </div>        
              <div class="form-group">
                <label for="password"><i class="fa-solid fa-lock"></i> Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
            <button class="btn btn-primary" type="submit">Login</button>
          </form>
    </div>
</div>
<%- include('partials/footer.ejs') %>